/** Custom image hooks for all 12 Chessground piece types */
.cg-wrap piece.pawn.black {
  background-image: var(--black-pawn-image);
}

.cg-wrap piece.bishop.black {
  background-image: var(--black-bishop-image);
}

.cg-wrap piece.knight.black {
  background-image: var(--black-knight-image);
}

.cg-wrap piece.rook.black {
  background-image: var(--black-rook-image);
}

.cg-wrap piece.queen.black {
  background-image: var(--black-queen-image);
}

.cg-wrap piece.king.black {
  background-image: var(--black-king-image);
}

.cg-wrap piece.pawn.white {
  background-image: var(--white-pawn-image);
}

.cg-wrap piece.bishop.white {
  background-image: var(--white-bishop-image);
}

.cg-wrap piece.knight.white {
  background-image: var(--white-knight-image);
}

.cg-wrap piece.rook.white {
  background-image: var(--white-rook-image);
}

.cg-wrap piece.queen.white {
  background-image: var(--white-queen-image);
}

.cg-wrap piece.king.white {
  background-image: var(--white-king-image);
}
